html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Bebas";
    src: url("../fonts/Bebas.woff2") format("woff2"), url("../fonts/Bebas.woff") format("woff"),
        url("../fonts/Bebas.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaNeue-Light";
    src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2"),
        url("../fonts/HelveticaNeue-Light.woff") format("woff"),
        url("../fonts/HelveticaNeueCyr-Light.ttf") format("TrueType");
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff"),
        url("../fonts/HelveticaNeue.ttf") format("TrueType");
    font-weight: normal;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 10px;
}

.header {
    /* background-color: #fffffe; */
    /* background-color: #2d334a; */
    height: 80px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: "Bebas";
    line-height: 28px;
    font-size: 30px;
}

.header__logo-link {
    margin-top: 10px;
    min-height: 100px;
}

.header__logo-img {
    max-width: 200px;
    width: 100%;
}

.header__menu-btn {
    background-color: #e8603c;
    opacity: 0.9;
    display: none;
}

.header__menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.header__menu-item {
    font-family: "Lobster", cursive;
    font-size: 18px;
    margin-left: 25px;
    display: inline-block;
}

.header__menu-item-link {
    color: #bae8e8;
    transition: 0.5s;
}

.header__menu-item-link--active {
    color: #ff8e3c;
}

.header__menu-item-link:hover {
    color: #ff8e3c;
}

.slider {
    width: 100%;
}

.slider__inner {
    width: 100%;
    position: relative;
}

.slider::before,
.slider::after {
    content: "";
    background-color: #ff8e3c;
    height: 60px;
    position: absolute;
    right: 0;
    width: calc((100% - 960px) / 2);
}

.slider::before {
    left: 0px;
}

.slider::after {
    top: 80px;
}

.slider__item {
    /* background-image: url(../img/slider-bg.jpg); */
    height: 400px;
    width: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}

.slider__item-box {
    background-color: rgba(255, 142, 60, 0.8);
    display: block;
    position: absolute;
    bottom: 30px;
    left: 35px;
    right: 495px;
    padding: 15px 25px 20px 20px;
}

.slider__item-title {
    font-family: "Lobster", cursive;
    font-weight: 400;
    color: #272343;
    font-size: 30px;
    margin-bottom: 10px;
}

.slider__item-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #272343;
}

.slider__img {
    width: 155px;
    height: 140px;
    background-size: cover;
    object-fit: cover;
}

.slider-arrows__left,
.slider-arrows__right {
    position: absolute;
    z-index: 2;
    top: 38%;
    cursor: pointer;
}

.slider-arrows__left {
    right: 15px;
}

.slider-arrows__right {
    left: 15px;
}

.slider__nav {
    margin-top: 20px;
    cursor: pointer;
}

.info {
    padding: 50px 0 0;
}

.info__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info__item {
    /* display: inline-block; */
}

.info__title-top {
    font-family: "Lobster", cursive;
    line-height: 24px;
    font-size: 50px;
    color: #ff8e3c;
    text-align: start;
    padding-bottom: 20px;
}

.info__title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ff8e3c;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    bottom: 5px;
    /* padding-left: 60px; */
}

.info__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.info__text {
    font-family: "Roboto", sans-serif;
    color: #414141;
    font-size: 16px;
    line-height: 18px;
    padding: 25px 20px 0 0;
}

.recent {
    margin-top: 40px;
    font-family: "Bebas";
    text-transform: uppercase;
    padding-bottom: 25px;
}

.recent__title {
    color: #ff8e3c;
    text-align: end;

    font-size: 42px;
    position: relative;
    font-family: "Lobster", cursive;
    margin-bottom: 25px;
}

.recent__inner {
    display: flex;
    justify-content: space-between;
}

.recent__item {
    max-width: 240px;
    width: 100%;
}

.recent__item-img {
    margin-bottom: -1px;
    width: 240px;

    height: 218px;
    background-size: cover;
    object-fit: cover;
}

.recent__item-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #b9b9b9;
    font-size: 16px;
    padding-bottom: 5px;
}

.footer__item-text {
    font-weight: 400;
    font-size: 16px;

    font-family: "Roboto", sans-serif;
}

.footer__item-link-email,
.footer__item-link-phone {

    font-weight: 400;
    font-size: 16px;
padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
}


.recent__item-date {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #ff8e3c;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 15px;
}

.recent__item-box {
    border: 1px solid #dbdbdb;
    border-top: none;
    padding: 15px 15px 0px;
    width: 100%;
    min-height: 90px;
}

.footer {
    position: relative;
    width: 100%;
}

.footer::before {
    content: "";
    background-color: #ff8e3c;
    position: absolute;
    left: 0;
    height: 100%;
    width: calc((100% - 960px) / 2);
}

.footer::after {
    content: "";
    background-color: #ff8e3c;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0px;
    width: calc((100% - 960px) / 2);
}

.footer__inner {
    background-color: #0d0d0d;
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 35px 35px;
    flex-wrap: wrap;
}

.footer__item {
    color: #fff;
    font-size: 12px;
    left: 35px;
}

.footer__item-about {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    width: 264px;
}

.footer__item-title {
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Lobster", cursive;
    color: #ff8e3c;
}

.footer__item-twitter {
    width: 215px;
}

.footer__item-tw-link {
    margin: 0;
}

.footer__items-twitter {
    list-style: none;
    padding-left: 0;
}

.footer__item-tw {
    padding-bottom: 20px;
    color: #fff;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.footer__item-tw a {
    color: #fff;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.footer__item-tw address {
    padding-top: 10px;
    color: #fff;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.footer__item-tw span {
    color: #f3b29d;
    display: block;
    padding-top: 5px;
}

.footer__item-contact {
    width: 260px;
}

.footer__item-contact a {
    color: #fff;
    display: block;
}

.footer__item-link-phone {
    padding-bottom: 20px;
}

.footer__item-img {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.footer__item-social {
    display: flex;
}
